body {background-color: fff;}

.txt-org {color: orangered;}
/* .fade {opacity: 0;}
.fade-end {opacity: 1;} */
.down {opacity: 0; transform: translateY(-100px);}
.down-end {opacity: 1; transform: translateY(0); transition: ease 0.5s;}
.left {opacity: 0; transform: translateX(-100px);}
.left-end {opacity: 1; transform: translateX(0); transition: ease 0.5s;}

.header {background: #2954A2;}

.top-logo {
  width: 200px;
}

.main-content .video-box {position: relative; width: 100%;}
.main-content .video-box video { width: 100%;}
.main-content .video-box .text-box{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); margin: 0; font-weight: 700; text-align: center;}
.main-content .video-box .text-box h4 {font-size: 5rem; color: #fff;}
.main-content .video-box .text-box h5 {color: #fff; font-size: 1.5rem;}