@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


html {font-size: 16px; font-family: 'Noto Sans KR', sans-serif; height: 100%;}
body {background-color: #fff; height: 100%;}
#root {height: 100%;}
.App {height: 100%;}

.txt-org {color: orangered;}
.txt-navy {color: #244990;}

.down {opacity: 0; transform: translateY(-100px);}
.down-end {opacity: 1; transform: translateY(0); transition: ease 0.5s;}
.left {opacity: 0; transform: translateX(-100px);}
.left-end {opacity: 1; transform: translateX(0); transition: ease 0.5s;}

/* 헤더 */
.header {background: #2954A2; width: 100%; height: 86px;}
.top-logo {
  width: 200px;
}
.top-menu::after { display: block; clear: both; content: "";}
.top-menu {display: inline-block; width: 340px; position: absolute; right: 0; top: 35px; margin-right: 3%;}
.top-menu li {float: left; margin: 0 5%;}
.top-menu li p {cursor: pointer; color: #fff; font-size: 1.2rem;}
.bg-black {width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); position: fixed; z-index: -1; opacity: 0; transition: ease 0.5s;}
.bg-black-on {z-index: 5; opacity: 1;}
.mob-menu {background: #fff; position: fixed; width: 300px; height: 100%; top: 0; left: -300px; z-index: 6; transition: ease 0.2s;}
.mob-menu-on {left: 0;}

/* 메인 */
.main-content .video-box {position: relative; width: 100%;}
.main-content .video-box video { width: 100%;}
.main-content .video-box .text-box{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); margin: 0; font-weight: 700; text-align: center;}
.main-content .video-box .text-box h4 {font-size: 5rem; color: #fff; white-space: nowrap; letter-spacing: -2px;}
.main-content .video-box .text-box h5 {color: #fff; font-size: 1.5rem; margin-top: 10px;}
.main-box1 {text-align: center; padding: 100px 0; box-sizing: border-box;}
.main-box1 h3 {font-size: 3rem; font-weight: 600; margin-bottom: 60px; letter-spacing: -2px;}
.main-box1 p {font-size: 1.4rem; line-height: 2rem; word-break: keep-all; letter-spacing: -1px; padding: 0 3%;}
.prd-box {display: flex;}




/* 푸터 */
footer { background-color: rgb(47, 47, 47); padding: 20px 5%; text-align: center;}
footer img {width: 200px;}
footer p {color: #fff; font-size: 1.15rem; margin: 5px 0;}


@media only screen and (max-width: 640px) {
  html {font-size: 14px;}

  .top-logo {display: block; margin: 0 auto;}
  .top-menu {display: none;}
}

@media only screen and (max-width: 450px) {
  html {font-size: 12px;}
}